/*!
Theme Name: Blocksy
Theme URI: https://creativethemes.com/blocksy/
Author: CreativeThemes
Author URI: https://creativethemes.com
Description: Blocksy is a blazing fast and lightweight WordPress theme built with the latest web technologies. It was built with the Gutenberg editor in mind and has a lot of options that makes it extendable and customizable. You can easily create any type of website, such as business agency, shop, corporate, education, restaurant, blog, portfolio, landing page and so on. It works like a charm with popular WordPress page builders, including Elementor, Beaver Builder, Visual Composer and Brizy. Since it is responsive and adaptive, translation ready, SEO optimized and has WooCommerce built-in, you will experience an easy build and even an increase in conversions. Note: Blocksy is built with the latest web technologies in order to bring you the smoothest experience, that told, old browsers like IE 11 and below may not work as expected. We strongly recommend you to update/switch to a modern browser.
Version: 1.8.3.2
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Copyright: (c) 2019 CreativeThemes.
Requires at least: 5.2
Requires PHP: 7.0
Tested up to: 5.5
Text Domain: blocksy
Tags: blog, e-commerce, wide-blocks, block-styles, grid-layout, one-column, two-columns, three-columns, four-columns, right-sidebar, left-sidebar, translation-ready, custom-colors, custom-logo, custom-menu, featured-images, footer-widgets, full-width-template, theme-options, threaded-comments, buddypress, rtl-language-support, news

*/

.tracking_form label {
  float: left;
  width: 10% !important;
  padding: 10px 0;
}

.trc_no {
  float: left;
  width: 50% !important;
      margin: 5px;
}
.trc_eks {
  float: left;
  width: 30% !important;	
  margin: 5px;
}

.trc_button {
	    float: left;
    width: 15% !important;
    margin: 5px;
}

/* Clear floats after the columns */
.tracking_form:after {
  content: "";
  display: table;
  clear: both;
}

.ck-content {
	min-height: 500px;
}

@media all and (min-width:481px) and (max-width: 568px) {
  /* put your css styles in here */
  .trc_button {
	    float: left;
    width: 25% !important;
   }
}
@media all and (min-width:321px) and (max-width: 480px) {
.trc_button {
	    float: left;
    width: 25% !important;
   }
}
